@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

@import "normalize";
@import "foundation";
@import "foundation-icons";
@import "foundation/functions";
// @import "highlight.css";

$main-color: #CC342D;
$opaque-primary: #85140F;
$opaque-secondary: #CC352D;
$light-primary: #E6665F;
$gray: #585450;
$light-gray: #777;
$box-color: #808080;
$white: #FFF;

pre.highlight {
  margin-bottom: 1em;

  code {
    display: block;
    padding: 1em !important;
    background-color: inherit;
    border-color: inherit !important;
    border: inherit;
    color: inherit;
    padding: inherit;
  }
}

.example {
  pre.highlight {
    padding: 3em;
  }
}

.row{
  max-width: 70rem !important;
}

.nav-bar{
  .button{
    @include button-style($white);
    font-family: $header-font-family;
  }

  .main-menu .button {
    padding-left: 16px;
    padding-right: 16px;
    font-weight: bold;
    color: $light-gray;
  }
}

.search {
  input[type="text"] { background-color: #f6f6f6 }
}

aside {
  font-family: 'Inconsolata';

  h1, h2, h3, h4 ,h5, h6 {
    font-family: 'Inconsolata';
    font-weight: bold;
  }

  ul.etiquetas {
    margin-left: 0px;
    list-style-type: none;

    li {
      display: inline-block;
      padding: 3px;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

ul.related-links {
  list-style-type: none;
  margin-left: 0px;

  li {
    margin-top: 10px;

    a {
      color: black;
      padding: 15px;
      display: block;
      width: 100%;
      background-color: #f6f6f6;

      &:hover {
        background-color: darken(#f6f6f6, 15%);
      }

      span {
        vertical-align: middle
      }

      img {
        max-width: 20px;
      }
    }
  }

}

#header {
  background-color: $main-color;
  height: 50px;
}

.articulo {
  @media #{$large-up} { padding: 15px 30px; }

  h2, h3 {
    font-family: "Inconsolata";
  }
}

article {
  h2, h3 {
    font-family: "Inconsolata";
  }
}

span.fecha {
  box-sizing: border-box;
  padding: 5px 10px;
  color: $white;
  background-color: $box-color;
  font-size: 0.75em;
}

div.datos {
  font-family: 'Inconsolata';
  @media #{$large-up} { padding-top: 25px; }

  span.etiquetas {
    font-weight: bold;
  }

  ul.etiquetas {
    list-style-type: none;

    li {
      color: $main-color;
      text-decoration: underline;

      @media #{$medium-up} {
        display: inline-block;
        padding: 3px;
      }
    }
  }
}

a.logo{
  margin-top: 5px;
  margin-left: 20px;
  display: inline-block;
  background: url(/images/oaxacarb.png) no-repeat left;
  background-position: 0% 70%;
  padding: 10px 0 10px 100px;

  h2{
    margin-bottom: 0px;
    font-family: 'Inconsolata';
    line-height: 1.1;

    span{
      font-size: inherit;
      color: #cc352d !important;
      margin-left: -20px;
    }
  }

  span{
    font-size: 14px;
    color: $gray !important;
  }
}

.nav-bar{
  ul.button-group{
    margin-top: 10px;
  }
}

#main{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $white;
}

#content{
  margin-top: 10px;
  padding-top: 15px;
}

hr.ruby{
  border-color: $main-color;
}

.panel{
  box-shadow: 0 2px 2px rgba(0,0,0,0.5);
}

a{
  color: $opaque-secondary;
  &:hover{
    color: $opaque-primary;
  }
}

.side-nav li a:not(.button) {
  display: block;
  color: $opaque-secondary;
  &:hover{
    color: $light-primary;
  }
}

ul.side-nav{
  li.article{
    a { display: initial; }
    span { color: #555555; }
  }
}

h1, h2, h3 {
  font-family: '$header-font-family';
  font-weight: bold;

  i[class^="fi-"]{
    color: $main-color;
  }
}

h6.datos{
  font-family: '$header-font-family' !important;
}

span.label{
  background-color: #BF1B12;

  &:hover{
    background-color: $main-color;
  }
}

h3 span{
  color: $main-color;
}

ul.posts{
  li{
    padding: 5px 0;
    list-style: none;
  }
}

img.center{
  display: block;
  margin: auto;
}

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.profile-image {
  img {
    width: 160px;
    height: 160px;
  }

  float: left;
  margin-right: 2em;
  margin-bottom: 1.5em;

  @include thumb(
    // Width of border around thumbnail
    $border-width: 2px,
    // Box shadow to apply to thumbnail
    $box-shadow: 0 0 0 1px rgba(#000,.2),
    // Box shadow to apply on hover
    $box-shadow-hover: 0 0 6px 1px rgba(#ccc,0.5)
  );
}
