@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

@import "compass";
@import "foundation";
@import "foundation-icons";
@import "foundation/functions";
@import "highlight";

$main-color: #CC342D;
$opaque-primary: #85140F;
$opaque-secondary: #CC352D;
$light-primary: #E6665F;
$gray: #585450;

body{
  border-top: 5px solid $main-color !important;
  /*background: url(/images/agsquare.png);*/
  background-color: #444444;
  color: #444444;
}

.nav-bar{

  .button{
    @include button-style($gray);
    font-family: 'Inconsolata';
  }
}

a.logo{
  margin-top: 5px;
  margin-left: 20px;
  display: inline-block;
  background: url(/images/oaxacarb.png) no-repeat left;
  background-position: 0% 70%;
  padding: 10px 0 10px 100px;

  h2{
    margin-bottom: 0px;
    font-family: 'Inconsolata';
    line-height: 1.1;

    span{
      font-size: inherit;
      color: #cc352d !important;
      margin-left: -20px;
    }
  }

  span{
    font-size: 14px;
    color: $gray !important;
  }
}

.nav-bar{
  ul.button-group{
    margin-top: 10px;
  }
}

#main{
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  border-top: 0px;
  @include border-bottom-radius(6px);
}

#content{
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  margin-top: 10px;
  padding-top: 15px;
  @include border-top-radius(6px);
}

hr.ruby{
  border-color: $main-color;
}

.panel{
  box-shadow: 0 2px 2px rgba(0,0,0,0.5);
}

a{
  color: $opaque-secondary;
  &:hover{
    color: $opaque-primary;
  }
}

.side-nav li a:not(.button) {
  display: block;
  color: $opaque-secondary;
  &:hover{
    color: $light-primary;
  }
}

ul.side-nav{
  li.article{
    a { display: initial; }
    span { color: #555555; }
  }
}

h1, h2, h3 {
  font-family: 'Inconsolata';
  font-weight: bold;

  i[class^="fi-"]{
    color: $main-color;
  }
}

h6.datos{
  font-family: 'Inconsolata' !important;
}

span.label{
  background-color: #BF1B12;

  &:hover{
    background-color: $main-color;
  }
}

h3 span{
  color: $main-color;
}

ul.posts{
  li{
    padding: 5px 0;
    list-style: none;
  }
}

img.center{
  display: block;
  margin: auto;
}

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}
