@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$main-color: #CC342D;
$opaque-primary: #85140F;
$opaque-secondary: #CC352D;
$light-primary: #E6665F;
$gray: #585450;

body{
  border-top: 5px solid $main-color !important;
  background: url(/images/agsquare.png);
}

.nav-bar{
  .button{
    @include button-style($gray);
  }
}

a.logo{
  margin-left: 10px;
  display: inline-block;
  background: url(/images/oaxacarb.png) no-repeat left;
  padding: 10px 0 10px 110px;

  h1{
    margin-bottom: 0px;
  }

  span{
    font-size: 14px;
    color: $gray !important;
  }
}

#main{
  background-color: white;
  border: 1px solid #eeeeee;
  border-top: 0px;
}

#content{
  background-color: white;
  border: 1px solid #eeeeee;
  margin-top: 10px;
  padding-top: 15px;
}

hr.ruby{
  border-color: $main-color;
}

.panel{
  box-shadow: 0 2px 2px rgba(0,0,0,0.5);
}

a{
  color: $opaque-secondary;
  &:hover{
    color: $opaque-primary;
  }
}

.side-nav li a:not(.button) {
  display: block;
  color: $opaque-secondary;
  &:hover{
    color: $light-primary;
  }
}

ul.side-nav{
  li.article{
    span { color: #555555; }
  }
}
