%div{style: "width:195px; text-align:center;"}
  %iframe{allowtransparency: "true", frameborder: "0", height: "302", marginheight: "0", marginwidth: "0", scrolling: "no", src: "https://www.eventbrite.com/countdown-widget?eid=13136683173", width: "195"}
  %div{style: "font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:195px; text-align:center;"}
    %a{href: "http://www.eventbrite.com/r/ecount", style: "color:#ddd; text-decoration:none;", target: "_blank"} Online event registration
    %span{style: "color:#ddd;"} for
    %a{href: "https://www.eventbrite.com/e/platicataller-modelos-en-rails-tickets-13136683173?ref=ecount", style: "color:#ddd; text-decoration:none;", target: "_blank"} Plática: Artoo un framework Ruby para controlarlos a todos
    %span{style: "color:#ddd;"} powered by
    %a{href: "http://www.eventbrite.com?ref=ecount", style: "color:#ddd; text-decoration:none;", target: "_blank"} Eventbrite
