%div.panel{:style => "width:195px; text-align:center;"}
  %a{href: 'http://www.eventbrite.com/o/oaxacarb-6130967443'}
    %p ¿Quieres saber cuándo es el próximo evento?
    = image_tag('oaxacarb.png')
