.large-12.columns
  %hr/
  .row
    .large-6.columns
      %p
        Supported by
        = link_to 'LogicalBricks', 'http://logicalbricks.com'

    .large-6.columns
      %ul.inline-list.right
        %li
          %a{:href => "#"} Posts
        %li
          %a{:href => "#"} Eventos
        %li
          %a{:href => "#"} Acerca de
        %li
          %a{:href => "#"} Contacto

