.large-12.columns
  %hr/
  .row
    .large-6.columns
      %p
        Supported by
        = link_to 'LogicalBricks', 'http://logicalbricks.com', target: '_blank'

    .large-6.columns
      %ul.inline-list.right
        %li
          %a{:href => "/"} Posts
        %li
          %a{:href => "#"} Eventos
        %li
          %a{:href => "/about.html"} Acerca de
        %li
          %a{:href => "/contacto.html"} Contacto

