/nav-bar small
%div.sticky
  %nav.top-bar.show-for-small{"data-topbar" => ""}
    %ul.title-area
      / Title Area
      %li.name
        %h1
          %a{:href => "/"}
            oaxacarb
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          menu
    %section.top-bar-section
      / Right Nav Section
      %ul.right
        %li.divider
        %li.divider
        %li
          %a{:href => "/tags/evento.html"} Eventos
        %li.divider
        %li.divider
        %li
          %a{:href => "/tags/platicas.html"} Platicas
        %li.divider
        %li.divider
        %li
          %a.button{:href => "/tags/trivias.html"} Trivias
        %li.divider
        %li.divider
        %li
          %a{:href => "/about.html"} Acerca de
        %li.divider
        %li.divider
        %li
          %a{:href => "/contacto.html"} Contacto
        %li.divider
        %li
          %a{:href => "/agradecimientos.html"} Agradecimientos

.large-12.columns
  .nav-bar.right.hide-for-small
    %ul.button-group.main-menu
      %li
        %a.button{:href => "/tags/evento.html"} Eventos
      %li
        %a.button{:href => "/tags/platicas.html"} Pláticas
      %li
        %a.button{:href => "/tags/trivias.html"} Trivias
      %li
        %a.button{:href => "/about.html"} Acerca de
      %li
        %a.button{:href => "/contacto.html"} Contacto
      %li
        %a.button{:href => "/agradecimientos.html"} Gracias
  %a.logo{ href: '/' }
    %h2
      oaxaca.
      %span rb
    %span La comunidad Ruby de Oaxaca
