.large-12.columns
  .nav-bar.right
    %ul.button-group
      %li
        %a.button.small{:href => "#"} Posts
      %li
        %a.button.small{:href => "#"} Eventos
      %li
        %a.button.small{:href => "#"} Acerca de
      %li
        %a.button.small{:href => "#"} Contacto
  %a.logo{ href: '/' }
    %h1 oaxaca.rb
    %span La comunidad ruby de Oaxaca
  %hr.ruby/
