.large-12.columns
  .nav-bar.right
    %ul.button-group.radius
      %li
        %a.button.small{:href => "/"} Posts
      %li
        %a.button.small{:href => "/tags/evento.html"} Eventos
      %li
        %a.button.small{:href => "/tags/platicas.html"} Pl&aacute;ticas
      %li
        %a.button.small{:href => "/about.html"} Acerca de
      %li
        %a.button.small{:href => "/contacto.html"} Contacto
  %a.logo{ href: '/' }
    %h2
      oaxaca.
      %span rb
    %span La comunidad ruby de Oaxaca
  %hr.ruby/
