%aside.large-3.columns
  %ul.related-links
    %li.eventbrite
      %a{href: 'http://www.eventbrite.com/o/oaxacarb-6130967443', :target => '_blank'}
        = image_tag 'eventbrite-black.png'
        %span Próximos eventos
  %hr/

  %ul.related-links
    %li.slack
      %a{href: 'https://communityinviter.com/apps/oaxacarb/oaxacarb', :target => '_blank'}
        = image_tag 'slack.png'
        %span Únete a nuestro Slack 
  %hr/

  %h5 Etiquetas
  %ul.etiquetas
    - blog.tags.each do |tag, articles|
      %li
        = link_to tag, tag_path(tag)

/ End Sidebar
