%p
  Si quieres estar al día en las #trivias entra al
  = link_to 'Slack Oaxacarb', 'https://oaxacarb.herokuapp.com'
  , posteriormente se publica
  = link_to 'aquí', 'http://oaxacarb.org/posts/trivia-como-borrar-un-metodo-completo.html'
  y en
  = link_to 'facebook', 'https://www.facebook.com/oaxacarb'
  te invitamos a participar en esta actividad dejando tu comentario de la respuesta la cual tiene una característica, debe ser
  %strong
    la forma más simple de resolver la trivia.

%p
  Te animo a participar y por su puesto esto es para divertirnos aprendiendo!!!
