---
title: Acerca de
---

.large-9.columns{ role: 'content' }
  %h2
    %i.fi-info.size-12
    oaxaca.rb
  %p Es una comunidad de desarrolladores Oaxaqueños que tiene como objetivo impulsar el uso de Ruby como lenguaje de programación y todas las herramientas relacionadas con dicho lenguaje.
  %p Como un complemento al uso del lenguaje se busca motivar el uso de prácticas ágiles de desarrollo, que permitan garantizar la mayor calidad del software con el menor esfuerzo.
  %p Aunque esta comunidad se enfoque en Oaxaca, no busca limitarse a la cuestión geográfica, por lo que cualquier colaboración con otras comunidades o programadores de otros lugares es bienvenida.
  %h2="¿Qué hacemos?"
  %p Para lograr nuestros objetivos, buscamos ser una comunidad abierta que permita la colaboración a través de los diferentes medios electrónicos que tenemos disponibles. Así como realizar eventos que permitar compartir conocimiento y acercar más a la comunidad para un aprendizaje compartido.
  %hr
  %h2 Nuestro primer Coding Dojo
  = image_tag 'miembros.jpg', class: 'th radius'
